<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BloodymarryConnection" connectionString="server=127.0.0.1;user id=root;password=sh3va1;persist security info=True;database=bloodymarry" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>